* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 5%;
    height: 100%;
    color: #46244C;
}

body {
    background-color: #FDF6EC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: xx-large;
    padding: 2rem;
}

.header .logout {
    background-color: #E5EFC1;
    cursor: pointer;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-size: 2rem;
}

main.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr 4fr; */
    min-height: 55rem;
    max-height: 55rem;
    border: 1px solid #ccc;
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* justify-content: space-around; */
    min-height: 55rem;
    max-height: 55rem;
    min-width: 100%;
    overflow: scroll;
}

form {
    /* text-align: center; */
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0 auto; */
}

#email, #password {
    width: 20rem;
}

nav {
    font-size: x-large;
    background-color: antiquewhite;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border: 1px solid #ccc;
    padding: 1rem;
}

nav ul li.active{
    background-color: whitesmoke;
}

nav ul li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.tableContainer {
    background-color: beige;
    text-align: center;
}

table {
    margin: 3rem auto;
    font-size: large;
}

table, tr, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
}

input[type=text], input[type=email], input[type=password], input[type=date], select {
    width: 100%;
    padding: 1rem .5rem;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addBtn, #editBtn, #deleteBtn {
    border-radius: 25%;
    cursor: pointer;
    margin: .3rem;
}

#addBtn {
    /* color: green; */
    background-color: lightgreen;
}

#editBtn {
    /* color: yellow; */
    background-color: rgb(249, 249, 56);
}

#deleteBtn {
    /* color: red; */
    background-color: rgb(255, 116, 116);
}

.cp-text {
    padding: 2rem;
    font-size: large;
    text-align: center;
    color: rgba(0,0,0,.7); 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}